components:
  schemas:
    ConfirmRegisterBody:
      properties:
        code:
          example: "1234"
          type: string
        uid:
          example: 9c884669-0dbf-497d-b94f-cfd196278d8f
          type: string
      type: object
    LoginBody:
      properties:
        phonenumber:
          example: "9009009090"
          type: string
      type: object
    RegisterBody:
      properties:
        phonenumber:
          example: "9009009090"
          type: string
      type: object
    TokenPair:
      properties:
        access_token:
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTQwNjgxMTcsImlhdCI6MTcxNDA2NzUxNywicGhvbmVudW1iZXIiOiI5MDA5MDA5MDkwIiwidWlkIjoiMTBiNDNmOTItZWRhMC00ZWFhLTkwNTktNjVkMWFkYzdhNzM3In0.9rntx_CFGxCMByOlZa0zFLhIW4LNgQpruKX6wNSKXUo
          type: string
        refresh_token:
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTQwNzExMTcsImlhdCI6MTcxNDA2NzUxNywidWlkIjoiMTBiNDNmOTItZWRhMC00ZWFhLTkwNTktNjVkMWFkYzdhNzM3In0.2UVtNZ-lKub9ZrlDiwf0tD9Wx2e73QhdKeRxbtFwTE4
          type: string
      type: object
    UserMeta:
      properties:
        created_at:
          example: "2022-01-01T00:00:00Z"
          format: date-time
          type: string
        is_registered:
          example: false
          type: boolean
        phonenumber:
          example: "9009009090"
          type: string
        uid:
          example: 9c884669-0dbf-497d-b94f-cfd196278d8f
          type: string
        updated_at:
          example: "2022-01-01T00:00:00Z"
          format: date-time
          type: string
      type: object
    errorResponseBody:
      properties:
        message:
          example: error description
          type: string
      type: object
  securitySchemes:
    JWT:
      description: Your JWT token
      scheme: bearer
      type: http
info:
  description: Auth service which is responsible for user authentication and authorization.
  title: Auth Service
  version: 0.0.1
openapi: 3.0.0
paths:
  /api/login/:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginBody'
        required: true
      responses:
        "204":
          description: Successful confirmation, no content in response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Invalid request body or user does not exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: User registration not finished
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Internal server error
      summary: Log in.
      tags:
      - Auth
  /api/login/confirm/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: ""
      summary: Confirm user login.
      tags:
      - Auth
  /api/refresh/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: ""
      summary: Refresh token pair.
      tags:
      - Auth
  /api/register/:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMeta'
          description: Successful registration, user meta in response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Invalid request body
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: User already registered
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: User registration not finished
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Internal server error
      summary: Register new user.
      tags:
      - Auth
  /api/register/confirm/:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmRegisterBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
          description: Successful confirmation, token pair in response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Invalid request body or user does not exist
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: User already registered
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Wrong confirmation code provided
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: Internal server error
      summary: Confirm user registration.
      tags:
      - Auth
  /api/revoke/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseBody'
          description: ""
      summary: Revoke token pair.
      tags:
      - Auth
  /health:
    get:
      responses:
        "200":
          description: ""
      summary: Check service health
      tags:
      - Health
security:
- Authorization: []
servers:
- description: Default Server URL
  url: /
