components:
  schemas:
    AuthData:
      properties:
        created_at:
          example: "2022-01-01T00:00:00Z"
          format: date-time
          type: string
        is_registered:
          example: false
          type: boolean
        phonenumber:
          example: "9009009090"
          type: string
        uid:
          example: 9c884669-0dbf-497d-b94f-cfd196278d8f
          type: string
        updated_at:
          example: "2022-01-01T00:00:00Z"
          format: date-time
          type: string
      type: object
    ErrorResponseBody:
      properties:
        message:
          example: error description
          type: string
      type: object
    RegisterBody:
      properties:
        phonenumber:
          example: "9009009090"
          type: string
      type: object
  securitySchemes:
    JWT:
      description: Your JWT token
      scheme: bearer
      type: http
info:
  description: Auth service which is responsible for user authentication and authorization.
  title: Auth Service
  version: 0.0.1
openapi: 3.0.0
paths:
  /api/login/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: ""
      summary: Log in user.
      tags:
      - Auth
  /api/login/confirm/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: ""
      summary: Confirm user login.
      tags:
      - Auth
  /api/refresh/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: ""
      summary: Refresh token pair.
      tags:
      - Auth
  /api/register/:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthData'
          description: Successful registration
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Invalid request body
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: User already registered
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: User registration not finished
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: Internal server error
      summary: Register new user.
      tags:
      - Auth
  /api/register/confirm/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: ""
      summary: Confirm user registration.
      tags:
      - Auth
  /api/revoke/:
    post:
      responses:
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
          description: ""
      summary: Revoke token pair.
      tags:
      - Auth
  /health:
    get:
      responses:
        "200":
          description: ""
      summary: Check service health
      tags:
      - Health
security:
- Authorization: []
servers:
- description: Default Server URL
  url: /
